<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <%= link_to "CoproBot", root_path, class: "btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none">
    <%= link_to "Login", root_path, class: "btn btn-ghost" %>
    <%= link_to "Register", root_path, class: "btn btn-primary" %>
  </div>
</div>
