<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <%= link_to "CoproBot", root_path, class: "btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none">
    <%= link_to "Settings", root_path, class: "btn btn-ghost" %>
    <%= link_to "Logout", destroy_user_session_path, class: "btn btn-ghost", data: {turbo_method: :delete}%>
  </div>
</div>
