<div class="w-[1200px] container mx-auto">
  <h1 class="text-5xl font-bold mb-4 mt-20">Your topics about real estate</h1>
  <p>Here you can find a list of your main topics regarding real estate in Belgium. Clicking on a category leads you to the main chats.</p>

  <div class="cards grid grid-cols-4 gap-4 mt-15">

    <%# CO-OWNERSHIP old path: section_chats_path(section.id)%>
    <%@sections.each do |section| %>

    <%# The link_to needs to be linked the the chats/id show page. probably have to mod the controller%>
      <%= link_to section_chats_path(section), data: { turbo_method: :post } do%>
        <div class="group block mb-20">
            <img src="https://images.unsplash.com/photo-1592921870789-04563d55041c?auto=format&amp;fit=crop&amp;q=80&amp;w=1160" alt="" class="h-[250px] w-full object-cover sm:h-[350px]">
          <div class="mt-3 flex justify-between text-sm">
            <div>
              <h3 class="text-gray-900 group-hover:underline group-hover:underline-offset-4">
                <%= section.name %>
              </h3>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>