

<div id="cards-container" class="w-[1200px] container mx-auto">
  <h1 class="text-5xl font-bold mb-4 mt-20">Start Your Conversation With the Right Co-Ownership Expert</h1>
  <p>Tap a category to access tailored co-ownership support.</p>

<div class="cards grid grid-cols-4 gap-4 mt-15">
  <%# CO-OWNERSHIP old path: section_chats_path(section.id)%>
  <%@sections.each do |section| %>
    <%# The link_to needs to be linked the the chats/id show page. probably have to mod the controller%>
    <%= link_to section_chats_path(section), data: { turbo_method: :post } do%>
    <div class="card bg-base-100 w-66 h-100 shadow-sm group block mb-20 border border-gray-200">
      <div class="card-body">
        <h2 class="card-title"><%= section.name %></h2>
        <p> <%= section.description%></p>
      </div>
      <hr class="mx-10 mb-5 border-gray-300">
      <figure>
        <%= image_tag section.url, alt: "Product demo illustration" %>
      </figure>
    </div>
    <%end%>
  <%end%>
</div>

</div>
