
<%# hero style in HTML %>

<div
  class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content">
    <div class="max-w-xxl">
      <h1 class="mb-5 text-5xl font-bold">Your AI expert in Belgian co-ownership topics.</h1>
      <p class="mb-5">
        Ask any question about syndics, AG votes, or shared costs — get a clear, accurate answer in seconds.
      </p>
      <%= link_to("Ask questions for free", sections_path, class:"btn btn-primary")%>
    </div>
  </div>
</div>

<%# <div class="w-[1200px] container mx-auto"> %>
<%# <h1>Your AI expert in Belgian co-ownership topics.</h1> %>
<%# <p>Ask any question about syndics, AG votes, or shared costs — get a clear, accurate answer in seconds.</p> %>

<%# </div> %>
